<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<h1>Ford Mustang</h1>
<p><em>Кликни на меня -)</em></p>
<a href="https://ru.wikipedia.org/wiki/Ford_Mustang" target="_blank">
  <img src="https://i.pinimg.com/originals/aa/69/c5/aa69c547997ddd38efdd70b9280df28a.jpg"
  alt="Ford mustang" style="width:450px;height:300px;border:0">
</a>

<p><strong>Ford Mustang</strong> — культовый автомобиль класса Pony Car производства Ford Motor Company.<br>
    На автомобиле размещается не эмблема Ford, а специальная эмблема Mustang.</p>

<div>
    <p>
        <strong>Первый прототип</strong>
    </p>
    <p>
        Изначальный вариант 11233 (1964/65—1973 гг.) был создан на базе агрегатов семейного седана Ford Falcon
        <em>(создатель Ли Якокка и его команда).</em><br> Первый серийный Mustang сошёл с конвейера 9 марта 1964
        года как модель 1965 года (в среде коллекционеров относительно Mustang выпуска до<br> осени 1964 года
        употребляется неофициальное обозначение «модель 1964 1/2»). 17 апреля автомобиль был представлен публике
        в Нью-Йорке,<br> а 19 апреля — показан по всем трём американским телевещательным сетям.
        <del>Продвижение автомобиля сопровождалось активной рекламной кампанией.</del><br>
        <mark><ins>Это была одна из самых удачных премьер в истории автомобилестроения.</ins></mark>
    </p>
    <p><strong>Поколения Ford Mustang:</strong></p>
    <ul>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%9F%D0%B5%D1%80%D0%B2%D0%BE%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Первое: 1964-1974</a> </li>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Второе: 1974—1978 года</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%A2%D1%80%D0%B5%D1%82%D1%8C%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Третье: 1979—1993 года</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%A7%D0%B5%D1%82%D0%B2%D1%91%D1%80%D1%82%D0%BE%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Четвертое: 1994—2004 года</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%9F%D1%8F%D1%82%D0%BE%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Пятое: 2004—2012 года</a></li>
        <li><a href="https://ru.wikipedia.org/wiki/Ford_Mustang#%D0%A8%D0%B5%D1%81%D1%82%D0%BE%D0%B5_
        %D0%BF%D0%BE%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">Шестое: 2014— н.в</a></li>

    </ul>
</div>

</body>
</html>
